{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
        <form method="POST" enctype="multipart/form-data">

            <div class="segment">
                <h1>Document Search</h1>
            </div>

            {% csrf_token %}

            <label>
                {{form.name}}
            </label>


            <label>
                {{form.question}}
            </label>


            {{ form.file }}

            <input class="formsubmit" type="submit"
            value="Submit"
            >

        </form>
        <a href="{% url 'output-view' %}">
            <button class="viewresults">View Results</button>
        </a>

        {% block content %}
        {% endblock %}
</body> 
</html>